<launch>
    <!-- laod prams from environment variables -->
    <param name="robot_description" textfile="$(find drone_bringup)/configuration_files/fixed_joint.urdf" />

	<node pkg="robot_state_publisher" name="drone_fixed_joints_pub" type="robot_state_publisher" output="screen">
		<param name="publish_frequency" value="50.0"/>
	</node>
</launch>
