<launch>
    <!-- laod prams from environment variables -->
    <arg name="frame_id" default="drone"/>
    <param name="robot_description" textfile="$(find drone_essentials)/urdf/iris_model.xacro" />
    
    <!-- run PX4 mavros run -->
	<include file="$(find mavros_link)/launch/px4_realsense.launch">
		<arg name="tgt_system" default="$(env DRONE_ID)"/>
		<arg name="tgt_component" default="$(env DRONE_ID)" />
		<arg name="gcs_ip" default="$(env MAVROS_GCS_IP)"/>
		<arg name="fcu_url" default="$(env MAVROS_FCU_URL)" />
		<arg name="fcu_port" default="$(env MAVROS_FCU_PORT)" />
	</include>

	<!-- rp_lidar-->
    <!-- <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
        <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate" type="int" value="256000"/>
        <param name="frame_id" type="string" value="laser"/>
        <param name="inverted" type="bool" value="false"/>
        <param name="angle_compensate" type="bool" value="true"/>
    </node> -->

    <!-- fixed_joint-->
	<node pkg="robot_state_publisher" name="drone_fixed_joints_pub" type="robot_state_publisher" output="screen">
		<param name="publish_frequency" value="50.0"/>
	</node>

    <!-- launch tf_broadcaster -->
    <!-- <node pkg="robot_setup_tf" name="tf_broadcaster" type="tf_broadcaster"/> -->

    <!-- run reg -->
    <!-- <include file="$(find drone_essentials)/launch/reg.launch"/> -->
</launch>
