<?xml version="1.0"?>
<launch>
  <!--rosparam command="load" file="$(env HOME)/params.yaml" /-->
  <node pkg="interactive_goal" name="marker_server" type="marker_server" respawn="true"/>

  <!-- set reg-->
  <node pkg="drone_reg" name="drone_reg_node" type="drone_reg_cpp" respawn="true" output="screen">
    <param name="use_planner" value="$(env DRONE_REG_USE_PLANNER)"/>
    <param name="use_geo_mode" value="$(env DRONE_REG_USE_GEO_MODE)"/>
    <param name="yaml_path" value="$(find drone_reg)/cfg/pid_params_laba.yaml"/>
    <param name="use_alt_sonar" value="false"/>
  </node>

<!-- pot planner-->
<!-- <node pkg="potential_planner" name="pot_planner_node" type="pot_planner.py" respawn="true" output="screen">
	<param name="yaml_path" value="$(find potential_planner)/cfg/params_laba.yaml"/>
	<param name="use_point2" value="false"/>
</node>

<group if="$(env DRONE_REG_USE_PLANNER)">
	<node pkg="unstable_planner" name="unstable_planner_node" type="unstable_new.py" respawn="true" output="screen">
    <param name="yaml_path" value="$(find unstable_planner)/cfg/params_laba.yaml"/>
    <param name="use_point2" value="false"/>
  </node>
</group> -->

</launch>
