<launch>
    <!-- laod prams from environment variables -->
    <arg name="frame_id" default="drone"/>
    <param name="robot_description" textfile="$(find drone_essentials)/urdf/iris_model.xacro" />
	
    <!-- <node pkg="drone_essentials" name="init_tf_node" type="init_state.py" output="screen" /> -->

	<!-- fixed_joint-->
	<node pkg="robot_state_publisher" name="drone_fixed_joints_pub" type="robot_state_publisher" output="screen">
		<param name="publish_frequency" value="50.0"/>
	</node>

    <!-- launch tf_broadcaster -->
    <node pkg="robot_setup_tf" name="tf_broadcaster" type="tf_broadcaster"/>

    <!-- run octomap -->
    <!-- <include file="$(find drone_essentials)/launch/octomap_realsense.launch"/> -->

    <!-- run reg -->
    <include file="$(find drone_essentials)/launch/reg.launch"/>
</launch>
