<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for PX4 based FCU's -->

	<arg name="fcu_url" default="/dev/ttyACM0:921600" />
	<arg name="gcs_ip" default="192.168.1.254" />
	<arg name="fcu_port" default="14101" />
	<arg name="gcs_url" default="udp://:$(arg fcu_port)@$(arg gcs_ip):14550" />

	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="true" />

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros_link)/param/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros_link)/param/px4_config_realsense.yaml" />
		<param name="system_id" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="1" />		
		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include>

</launch>
